<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.yk_homefree">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.YKhomefree">
        <activity
            android:name=".signin_user.SigninUserActivity2"
            android:exported="false" />
        <activity
            android:name=".signin_user.SigninUserActivity1"
            android:exported="false" />
        <activity
            android:name=".reservation.reserve_once.OnceInfo2"
            android:exported="false" />
        <activity
            android:name=".reservation.reserve_regularly.RegularlyInfo"
            android:exported="false" />
        <activity
            android:name=".reservation.reserve_once.OnceInfo"
            android:exported="false" />
        <activity
            android:name=".reservation.reserve_regularly.ReserveRegularly"
            android:exported="false" />
        <activity
            android:name=".reservation.reserve_once.ReserveOnce"
            android:exported="false" />
        <activity
            android:name=".reservation.ReserveChoice"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".login.SigninActivity"
            android:exported="false" />
        <activity
            android:name=".signin_expert.SigninExpertActivity1"
            android:exported="false" />
        <activity
            android:name=".signin_expert.SigninExpertActivity2"
            android:exported="false" />
        <activity
            android:name=".signin_expert.SigninExpertActivity3"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="true" />
    </application>

</manifest>